<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasPages</key>
	<array>
		<dict>
			<key>canvas</key>
			<string>Canvas_5979F00F-D098-46E0-8FA8-80891D486492</string>
			<key>frame</key>
			<string>{{-154, 5}, {300, 200}}</string>
			<key>id</key>
			<string>CanvasPage_9F258067-0560-4132-A056-C3E45D450877</string>
			<key>page</key>
			<string>Page_A0927BEE-C821-445D-B236-B9909356E459</string>
			<key>zIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>canvases</key>
	<array>
		<dict>
			<key>alwaysShowPageTitles</key>
			<false/>
			<key>closedPageHierarchies</key>
			<dict/>
			<key>dateCreated</key>
			<date>2022-05-02T14:24:33Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:24:33Z</date>
			<key>id</key>
			<string>Canvas_5979F00F-D098-46E0-8FA8-80891D486492</string>
			<key>sortIndex</key>
			<integer>1</integer>
			<key>theme</key>
			<string>auto</string>
			<key>thumbnail</key>
			<dict>
				<key>filename</key>
				<string>5979F00F-D098-46E0-8FA8-80891D486492-thumbnail.png</string>
				<key>metadata</key>
				<dict/>
				<key>type</key>
				<string>thumbnail</string>
			</dict>
			<key>title</key>
			<string>New Canvas</string>
			<key>viewPort</key>
			<string>{{-380, -280}, {781, 882}}</string>
			<key>zoomFactor</key>
			<real>1</real>
		</dict>
	</array>
	<key>folders</key>
	<array>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_DEDF742F-27C8-4A6F-90E1-5A60116A24D3</string>
				<string>Page_B12952A7-6B5F-4003-9E61-E72374AA9F09</string>
				<string>Page_5820F455-B3EB-406F-879D-BF393B7B0206</string>
			</array>
			<key>dateCreated</key>
			<date>2022-05-02T14:35:34Z</date>
			<key>id</key>
			<string>Folder_09C67779-4CD1-4109-88B1-48870C83F0DE</string>
			<key>title</key>
			<string>Folder</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_A0927BEE-C821-445D-B236-B9909356E459</string>
				<string>Page_FBD0282B-F775-4CF4-BF57-C667EE2DE1FB</string>
				<string>Folder_09C67779-4CD1-4109-88B1-48870C83F0DE</string>
			</array>
			<key>dateCreated</key>
			<date>2022-05-02T14:24:32Z</date>
			<key>id</key>
			<string>Folder_F9D395D0-7864-41A0-AD30-95F8B97D4257</string>
			<key>title</key>
			<string>__ROOT__FOLDER__</string>
		</dict>
	</array>
	<key>pages</key>
	<array>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>5820F455-B3EB-406F-879D-BF393B7B0206.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T14:35:54Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:35:54Z</date>
			<key>id</key>
			<string>Page_5820F455-B3EB-406F-879D-BF393B7B0206</string>
			<key>title</key>
			<string>Folder Page 3</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>A0927BEE-C821-445D-B236-B9909356E459.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T14:24:33Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:24:33Z</date>
			<key>id</key>
			<string>Page_A0927BEE-C821-445D-B236-B9909356E459</string>
			<key>title</key>
			<string>Canvas Page</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>B12952A7-6B5F-4003-9E61-E72374AA9F09.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T14:35:48Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:35:48Z</date>
			<key>id</key>
			<string>Page_B12952A7-6B5F-4003-9E61-E72374AA9F09</string>
			<key>title</key>
			<string>Folder Page 2</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>DEDF742F-27C8-4A6F-90E1-5A60116A24D3.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T14:35:42Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:35:42Z</date>
			<key>id</key>
			<string>Page_DEDF742F-27C8-4A6F-90E1-5A60116A24D3</string>
			<key>title</key>
			<string>Folder Page 1</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>FBD0282B-F775-4CF4-BF57-C667EE2DE1FB.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {256, 256}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T14:35:02Z</date>
			<key>dateModified</key>
			<date>2022-05-02T14:35:02Z</date>
			<key>id</key>
			<string>Page_FBD0282B-F775-4CF4-BF57-C667EE2DE1FB</string>
			<key>title</key>
			<string>Coppice Icon</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>identifier</key>
		<string>B46498B4-67A4-4B92-A2E5-ECAC83C21E77</string>
		<key>pageGroupExpanded</key>
		<true/>
		<key>rootFolder</key>
		<string>Folder_F9D395D0-7864-41A0-AD30-95F8B97D4257</string>
	</dict>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
