<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasPages</key>
	<array>
		<dict>
			<key>canvas</key>
			<string>Canvas_5C45392D-B2B5-4372-92A3-084A047A76AD</string>
			<key>frame</key>
			<string>{{-181, -111}, {293, 417}}</string>
			<key>id</key>
			<string>CanvasPage_328D44A1-9D21-4EDB-A1F1-B97DFA63ACE6</string>
			<key>page</key>
			<string>Page_D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676</string>
			<key>zIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>canvases</key>
	<array>
		<dict>
			<key>alwaysShowPageTitles</key>
			<false/>
			<key>closedPageHierarchies</key>
			<dict>
				<key>CanvasPage_265F4FDA-BE7E-4553-ADE5-8FDF29B673DF</key>
				<dict/>
				<key>CanvasPage_328D44A1-9D21-4EDB-A1F1-B97DFA63ACE6</key>
				<dict>
					<key>Page_534D6ADC-FDC6-4668-9130-5CDBDAB3680A</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{81, 441}, {322, 185}}</string>
						<key>id</key>
						<string>CanvasPage_C10B3E19-F07F-41C6-BC59-C40FF1D266F6</string>
						<key>pageID</key>
						<string>Page_534D6ADC-FDC6-4668-9130-5CDBDAB3680A</string>
					</dict>
					<key>Page_54811B65-62E0-481D-9C54-30AE0A2540C6</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-667.046875, -71.00390625}, {332, 215}}</string>
						<key>id</key>
						<string>CanvasPage_6325569A-EC06-41D4-9412-032CEF5D68F7</string>
						<key>pageID</key>
						<string>Page_54811B65-62E0-481D-9C54-30AE0A2540C6</string>
					</dict>
					<key>Page_8873E427-613D-41C2-B45B-96F5A1AF7CE2</key>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{-11.04296875, -954.19140625}, {177, 106}}</string>
								<key>id</key>
								<string>CanvasPage_EDB64EF2-FF97-40C4-9256-EA9B832321D5</string>
								<key>pageID</key>
								<string>Page_5A704B52-0452-4039-8918-481366162DA2</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{-218.60546875, -969.89453125}, {184, 132}}</string>
								<key>id</key>
								<string>CanvasPage_FFAC9BB2-C064-41F2-A6A7-49D06B352EE9</string>
								<key>pageID</key>
								<string>Page_32ACD746-4D1E-4E30-BC88-10597069853E</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{-473.89453125, -970.94921875}, {219, 142}}</string>
								<key>id</key>
								<string>CanvasPage_DD9FF71F-710A-4DBE-A5D6-6B094AEC1476</string>
								<key>pageID</key>
								<string>Page_9C42EA88-4436-44F5-B7FB-EAA804763F95</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{211, -1116}, {268, 270}}</string>
								<key>id</key>
								<string>CanvasPage_DC183BCE-F55B-4B48-9EA5-44502E50A308</string>
								<key>pageID</key>
								<string>Page_954F8308-CC20-439C-BFED-7BDDEF6AFC61</string>
							</dict>
						</array>
						<key>frame</key>
						<string>{{-217, -574}, {373, 200}}</string>
						<key>id</key>
						<string>CanvasPage_C41FA204-087C-40D0-A15A-9F9F17523E05</string>
						<key>pageID</key>
						<string>Page_8873E427-613D-41C2-B45B-96F5A1AF7CE2</string>
					</dict>
					<key>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{309, -74}, {300, 230}}</string>
						<key>id</key>
						<string>CanvasPage_D5615854-CFCC-40AE-A053-EE604AFEAB0E</string>
						<key>pageID</key>
						<string>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</string>
					</dict>
					<key>Page_F22967AD-A7F6-42B0-96DE-D8981A35083B</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-458, 408}, {380, 412}}</string>
						<key>id</key>
						<string>CanvasPage_DF5DAD2B-DDFA-4AF2-B5CF-7FD0307ADB14</string>
						<key>pageID</key>
						<string>Page_F22967AD-A7F6-42B0-96DE-D8981A35083B</string>
					</dict>
				</dict>
				<key>CanvasPage_6325569A-EC06-41D4-9412-032CEF5D68F7</key>
				<dict>
					<key>Page_5B5199D0-F7D8-4BCE-9F3C-017D48A74A8F</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-1073.45703125, -88.40234375}, {310, 249}}</string>
						<key>id</key>
						<string>CanvasPage_EDA82A6A-30D8-493F-B528-3BE0D8352498</string>
						<key>pageID</key>
						<string>Page_5B5199D0-F7D8-4BCE-9F3C-017D48A74A8F</string>
					</dict>
					<key>Page_D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-1217.45703125, 210.59765625}, {454, 383}}</string>
						<key>id</key>
						<string>CanvasPage_B1544FA5-D0EA-4534-82B3-28F7611C24F4</string>
						<key>pageID</key>
						<string>Page_D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676</string>
					</dict>
				</dict>
				<key>CanvasPage_9AD950ED-1D78-421B-BC21-44F2E1536AA6</key>
				<dict>
					<key>Page_9D3F640C-D34B-4199-AAA2-66A50EB73DB3</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{1130, -95}, {256, 256}}</string>
						<key>id</key>
						<string>CanvasPage_5E1F42E4-795B-48C3-A3BB-A67F0467D0EC</string>
						<key>pageID</key>
						<string>Page_9D3F640C-D34B-4199-AAA2-66A50EB73DB3</string>
					</dict>
					<key>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{1096, 100}, {469, 200}}</string>
						<key>id</key>
						<string>CanvasPage_7B1A09D0-93D3-4476-ACB0-D2938D84E238</string>
						<key>pageID</key>
						<string>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</string>
					</dict>
				</dict>
				<key>CanvasPage_C10B3E19-F07F-41C6-BC59-C40FF1D266F6</key>
				<dict>
					<key>Page_954F8308-CC20-439C-BFED-7BDDEF6AFC61</key>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{673, 925}, {312, 100}}</string>
								<key>id</key>
								<string>CanvasPage_D2F599F2-ED9B-4824-BF33-D5248A2D79A8</string>
								<key>pageID</key>
								<string>Page_D0D70A91-7263-4DC7-97DF-C39F529BCBBB</string>
							</dict>
						</array>
						<key>frame</key>
						<string>{{232, 848}, {300, 246}}</string>
						<key>id</key>
						<string>CanvasPage_05863806-62C1-494F-BB8C-B6021A540DF2</string>
						<key>pageID</key>
						<string>Page_954F8308-CC20-439C-BFED-7BDDEF6AFC61</string>
					</dict>
					<key>Page_AA4DFD1B-E6CB-498B-895B-69992D24571E</key>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{1155, 611}, {309, 213}}</string>
								<key>id</key>
								<string>CanvasPage_8AE77420-A416-409A-92AF-0F6FEA916D46</string>
								<key>pageID</key>
								<string>Page_28E15839-4892-433D-869D-9BA2A58062EB</string>
							</dict>
						</array>
						<key>frame</key>
						<string>{{661, 599}, {386, 236}}</string>
						<key>id</key>
						<string>CanvasPage_79169389-EC6E-4AD8-9E9D-8EFA0BBF495C</string>
						<key>pageID</key>
						<string>Page_AA4DFD1B-E6CB-498B-895B-69992D24571E</string>
					</dict>
				</dict>
				<key>CanvasPage_C41FA204-087C-40D0-A15A-9F9F17523E05</key>
				<dict>
					<key>Page_30FF5DE7-2CBF-45D3-A80D-BDD7315989D7</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{275, -583}, {383, 222}}</string>
						<key>id</key>
						<string>CanvasPage_BAEFA6F6-1553-42C9-9A16-492DF93A8C95</string>
						<key>pageID</key>
						<string>Page_30FF5DE7-2CBF-45D3-A80D-BDD7315989D7</string>
					</dict>
					<key>Page_DFF837A0-E8E4-421E-8B45-8F227A677930</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-599, -541}, {283, 135}}</string>
						<key>id</key>
						<string>CanvasPage_02E318D1-FDC5-49FC-BB1D-7B87266B96BE</string>
						<key>pageID</key>
						<string>Page_DFF837A0-E8E4-421E-8B45-8F227A677930</string>
					</dict>
				</dict>
				<key>CanvasPage_D5615854-CFCC-40AE-A053-EE604AFEAB0E</key>
				<dict>
					<key>Page_1936587F-75AA-48EB-B37E-CCF64BEAC684</key>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{1134, -491}, {207, 160}}</string>
								<key>id</key>
								<string>CanvasPage_2E10377C-79DC-4953-9958-D2A5846937D9</string>
								<key>pageID</key>
								<string>Page_2936E0F0-0B47-4234-97C4-042B9930CBC8</string>
							</dict>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{1130, -287}, {209, 129}}</string>
								<key>id</key>
								<string>CanvasPage_163220FF-8A14-42AC-86B2-6E12E1B5DCD4</string>
								<key>pageID</key>
								<string>Page_B335F5A3-20DA-4950-BCDF-19A3758B453F</string>
							</dict>
						</array>
						<key>frame</key>
						<string>{{719, -328}, {244, 194}}</string>
						<key>id</key>
						<string>CanvasPage_265F4FDA-BE7E-4553-ADE5-8FDF29B673DF</string>
						<key>pageID</key>
						<string>Page_1936587F-75AA-48EB-B37E-CCF64BEAC684</string>
					</dict>
					<key>Page_61E4F38E-6721-440F-AB8E-E9DEBC234D75</key>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array/>
								<key>frame</key>
								<string>{{1225, 298}, {150, 124}}</string>
								<key>id</key>
								<string>CanvasPage_B6645949-C620-4BDB-A115-F27DCC578C99</string>
								<key>pageID</key>
								<string>Page_78F65DEE-7100-4223-AE9F-B7A148346791</string>
							</dict>
						</array>
						<key>frame</key>
						<string>{{707, 184}, {356, 337}}</string>
						<key>id</key>
						<string>CanvasPage_AFD83EA5-861B-49A3-B06D-17997B413961</string>
						<key>pageID</key>
						<string>Page_61E4F38E-6721-440F-AB8E-E9DEBC234D75</string>
					</dict>
					<key>Page_F6C58FD9-EB52-47FD-9329-5C154D80606C</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{731, -78}, {232, 205}}</string>
						<key>id</key>
						<string>CanvasPage_9AD950ED-1D78-421B-BC21-44F2E1536AA6</string>
						<key>pageID</key>
						<string>Page_F6C58FD9-EB52-47FD-9329-5C154D80606C</string>
					</dict>
				</dict>
				<key>CanvasPage_DF5DAD2B-DDFA-4AF2-B5CF-7FD0307ADB14</key>
				<dict>
					<key>Page_32ACD746-4D1E-4E30-BC88-10597069853E</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-895.4609375, 454.92578125}, {300, 200}}</string>
						<key>id</key>
						<string>CanvasPage_6493082A-9D01-4B67-8D42-59B9D2449AD4</string>
						<key>pageID</key>
						<string>Page_32ACD746-4D1E-4E30-BC88-10597069853E</string>
					</dict>
					<key>Page_57FD0C73-85A5-45E1-A8F5-8CF89D804CD6</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-951, 459}, {335, 230}}</string>
						<key>id</key>
						<string>CanvasPage_569BD1C5-FE48-4114-A899-E8EF1419A2B6</string>
						<key>pageID</key>
						<string>Page_57FD0C73-85A5-45E1-A8F5-8CF89D804CD6</string>
					</dict>
					<key>Page_EAA47FAD-4096-43A4-A18B-75F550A520B0</key>
					<dict>
						<key>children</key>
						<array/>
						<key>frame</key>
						<string>{{-909.8125, 863.71875}, {300, 232}}</string>
						<key>id</key>
						<string>CanvasPage_B912E92B-27A7-4755-8EE8-3753C296C49A</string>
						<key>pageID</key>
						<string>Page_EAA47FAD-4096-43A4-A18B-75F550A520B0</string>
					</dict>
				</dict>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T11:56:49Z</date>
			<key>dateModified</key>
			<date>2020-10-05T11:56:49Z</date>
			<key>id</key>
			<string>Canvas_5C45392D-B2B5-4372-92A3-084A047A76AD</string>
			<key>sortIndex</key>
			<integer>1</integer>
			<key>theme</key>
			<string>dark</string>
			<key>thumbnail</key>
			<dict>
				<key>filename</key>
				<string>5C45392D-B2B5-4372-92A3-084A047A76AD-thumbnail.png</string>
				<key>metadata</key>
				<dict/>
				<key>type</key>
				<string>thumbnail</string>
			</dict>
			<key>title</key>
			<string>Welcome</string>
			<key>viewPort</key>
			<string>{{-877, -422}, {1769, 1390}}</string>
			<key>zoomFactor</key>
			<real>1</real>
		</dict>
	</array>
	<key>folders</key>
	<array>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_28E15839-4892-433D-869D-9BA2A58062EB</string>
				<string>Page_534D6ADC-FDC6-4668-9130-5CDBDAB3680A</string>
				<string>Page_954F8308-CC20-439C-BFED-7BDDEF6AFC61</string>
				<string>Page_AA4DFD1B-E6CB-498B-895B-69992D24571E</string>
				<string>Page_D0D70A91-7263-4DC7-97DF-C39F529BCBBB</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T11:59:52Z</date>
			<key>id</key>
			<string>Folder_0B94CB3C-D0BA-4133-B373-B7D8852E1954</string>
			<key>title</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</string>
				<string>Page_61E4F38E-6721-440F-AB8E-E9DEBC234D75</string>
				<string>Page_78F65DEE-7100-4223-AE9F-B7A148346791</string>
				<string>Page_F6C58FD9-EB52-47FD-9329-5C154D80606C</string>
				<string>Page_9D3F640C-D34B-4199-AAA2-66A50EB73DB3</string>
				<string>Page_1936587F-75AA-48EB-B37E-CCF64BEAC684</string>
				<string>Page_2936E0F0-0B47-4234-97C4-042B9930CBC8</string>
				<string>Page_B335F5A3-20DA-4950-BCDF-19A3758B453F</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T11:59:07Z</date>
			<key>id</key>
			<string>Folder_2CB30F9B-C3F5-4931-B39E-D24447468E21</string>
			<key>title</key>
			<string>Pages</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676</string>
				<string>Folder_2CB30F9B-C3F5-4931-B39E-D24447468E21</string>
				<string>Folder_C3A65199-4BA2-4B44-973A-40F47EE7E0F6</string>
				<string>Folder_0B94CB3C-D0BA-4133-B373-B7D8852E1954</string>
				<string>Folder_6F3EC2E9-3397-402B-B10B-58D0EBE6F2C2</string>
				<string>Folder_FD2341D9-2A22-45E3-AE35-459A6399A2E7</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T11:56:49Z</date>
			<key>id</key>
			<string>Folder_57122DE1-7179-4496-BD0D-877C2C9FE9A3</string>
			<key>title</key>
			<string>__ROOT__FOLDER__</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_54811B65-62E0-481D-9C54-30AE0A2540C6</string>
				<string>Page_5B5199D0-F7D8-4BCE-9F3C-017D48A74A8F</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T11:59:55Z</date>
			<key>id</key>
			<string>Folder_6F3EC2E9-3397-402B-B10B-58D0EBE6F2C2</string>
			<key>title</key>
			<string>Branches</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_F22967AD-A7F6-42B0-96DE-D8981A35083B</string>
				<string>Page_EAA47FAD-4096-43A4-A18B-75F550A520B0</string>
				<string>Page_57FD0C73-85A5-45E1-A8F5-8CF89D804CD6</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T11:59:44Z</date>
			<key>id</key>
			<string>Folder_C3A65199-4BA2-4B44-973A-40F47EE7E0F6</string>
			<key>title</key>
			<string>Canvases</string>
		</dict>
		<dict>
			<key>contents</key>
			<array>
				<string>Page_32ACD746-4D1E-4E30-BC88-10597069853E</string>
				<string>Page_8873E427-613D-41C2-B45B-96F5A1AF7CE2</string>
				<string>Page_30FF5DE7-2CBF-45D3-A80D-BDD7315989D7</string>
				<string>Page_DFF837A0-E8E4-421E-8B45-8F227A677930</string>
				<string>Page_9C42EA88-4436-44F5-B7FB-EAA804763F95</string>
				<string>Page_5A704B52-0452-4039-8918-481366162DA2</string>
			</array>
			<key>dateCreated</key>
			<date>2020-10-05T12:00:48Z</date>
			<key>id</key>
			<string>Folder_FD2341D9-2A22-45E3-AE35-459A6399A2E7</string>
			<key>title</key>
			<string>Coppice Pro</string>
		</dict>
	</array>
	<key>pages</key>
	<array>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>1936587F-75AA-48EB-B37E-CCF64BEAC684.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:06:04Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:06:04Z</date>
			<key>id</key>
			<string>Page_1936587F-75AA-48EB-B37E-CCF64BEAC684</string>
			<key>title</key>
			<string>Text Pages</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>28E15839-4892-433D-869D-9BA2A58062EB.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2022-05-02T11:46:57Z</date>
			<key>dateModified</key>
			<date>2022-05-02T11:46:57Z</date>
			<key>id</key>
			<string>Page_28E15839-4892-433D-869D-9BA2A58062EB</string>
			<key>title</key>
			<string>Image Hotspots</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>2936E0F0-0B47-4234-97C4-042B9930CBC8.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {207, 160}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:09:53Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:09:53Z</date>
			<key>id</key>
			<string>Page_2936E0F0-0B47-4234-97C4-042B9930CBC8</string>
			<key>title</key>
			<string>Font Inspector</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>30FF5DE7-2CBF-45D3-A80D-BDD7315989D7.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T13:23:36Z</date>
			<key>dateModified</key>
			<date>2020-10-05T13:23:36Z</date>
			<key>id</key>
			<string>Page_30FF5DE7-2CBF-45D3-A80D-BDD7315989D7</string>
			<key>title</key>
			<string>Can I open Coppice Pro documents without Pro?</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>32ACD746-4D1E-4E30-BC88-10597069853E.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:56:16Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:56:16Z</date>
			<key>id</key>
			<string>Page_32ACD746-4D1E-4E30-BC88-10597069853E</string>
			<key>title</key>
			<string>Multiple Canvases</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>534D6ADC-FDC6-4668-9130-5CDBDAB3680A.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:00:22Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:00:22Z</date>
			<key>id</key>
			<string>Page_534D6ADC-FDC6-4668-9130-5CDBDAB3680A</string>
			<key>title</key>
			<string>Links</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>54811B65-62E0-481D-9C54-30AE0A2540C6.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:00:29Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:00:29Z</date>
			<key>id</key>
			<string>Page_54811B65-62E0-481D-9C54-30AE0A2540C6</string>
			<key>title</key>
			<string>Branches</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>57FD0C73-85A5-45E1-A8F5-8CF89D804CD6.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:56:52Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:56:52Z</date>
			<key>id</key>
			<string>Page_57FD0C73-85A5-45E1-A8F5-8CF89D804CD6</string>
			<key>title</key>
			<string>Adding a Page to a Canvas</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>5A704B52-0452-4039-8918-481366162DA2.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T13:18:37Z</date>
			<key>dateModified</key>
			<date>2020-10-05T13:18:37Z</date>
			<key>id</key>
			<string>Page_5A704B52-0452-4039-8918-481366162DA2</string>
			<key>title</key>
			<string>Folders</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>5B5199D0-F7D8-4BCE-9F3C-017D48A74A8F.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:53:22Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:53:22Z</date>
			<key>id</key>
			<string>Page_5B5199D0-F7D8-4BCE-9F3C-017D48A74A8F</string>
			<key>title</key>
			<string>Remembering Branches</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>61E4F38E-6721-440F-AB8E-E9DEBC234D75.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:16:56Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:16:56Z</date>
			<key>id</key>
			<string>Page_61E4F38E-6721-440F-AB8E-E9DEBC234D75</string>
			<key>title</key>
			<string>Creating a Page</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>78F65DEE-7100-4223-AE9F-B7A148346791.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {278, 209}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:20:17Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:20:17Z</date>
			<key>id</key>
			<string>Page_78F65DEE-7100-4223-AE9F-B7A148346791</string>
			<key>title</key>
			<string>New Page button</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>8873E427-613D-41C2-B45B-96F5A1AF7CE2.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:01:09Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:01:09Z</date>
			<key>id</key>
			<string>Page_8873E427-613D-41C2-B45B-96F5A1AF7CE2</string>
			<key>title</key>
			<string>Coppice Pro</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>954F8308-CC20-439C-BFED-7BDDEF6AFC61.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:30:07Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:30:07Z</date>
			<key>id</key>
			<string>Page_954F8308-CC20-439C-BFED-7BDDEF6AFC61</string>
			<key>title</key>
			<string>Auto Linking</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>9C42EA88-4436-44F5-B7FB-EAA804763F95.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T13:20:41Z</date>
			<key>dateModified</key>
			<date>2020-10-05T13:20:41Z</date>
			<key>id</key>
			<string>Page_9C42EA88-4436-44F5-B7FB-EAA804763F95</string>
			<key>title</key>
			<string>Canvas Themes</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>9D3F640C-D34B-4199-AAA2-66A50EB73DB3.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {256, 256}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:13:57Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:13:57Z</date>
			<key>id</key>
			<string>Page_9D3F640C-D34B-4199-AAA2-66A50EB73DB3</string>
			<key>title</key>
			<string>Coppice Logo</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>AA4DFD1B-E6CB-498B-895B-69992D24571E.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:26:38Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:26:38Z</date>
			<key>id</key>
			<string>Page_AA4DFD1B-E6CB-498B-895B-69992D24571E</string>
			<key>title</key>
			<string>Creating a Link</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T11:59:15Z</date>
			<key>dateModified</key>
			<date>2020-10-05T11:59:15Z</date>
			<key>id</key>
			<string>Page_B1CA31B5-52AF-4385-9FAD-C0A4FB9330E8</string>
			<key>title</key>
			<string>Pages</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>B335F5A3-20DA-4950-BCDF-19A3758B453F.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {209, 129}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2021-02-15T13:30:43Z</date>
			<key>dateModified</key>
			<date>2021-02-15T13:30:43Z</date>
			<key>id</key>
			<string>Page_B335F5A3-20DA-4950-BCDF-19A3758B453F</string>
			<key>title</key>
			<string>Paragraph inspector</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>D0D70A91-7263-4DC7-97DF-C39F529BCBBB.png</string>
				<key>metadata</key>
				<dict>
					<key>cropRect</key>
					<string>{{0, 0}, {586, 188}}</string>
					<key>hotspots</key>
					<array/>
					<key>orientation</key>
					<integer>1</integer>
				</dict>
				<key>type</key>
				<string>image</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:37:56Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:37:56Z</date>
			<key>id</key>
			<string>Page_D0D70A91-7263-4DC7-97DF-C39F529BCBBB</string>
			<key>title</key>
			<string>Auto Linking Preferences</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T11:56:49Z</date>
			<key>dateModified</key>
			<date>2020-10-05T11:56:49Z</date>
			<key>id</key>
			<string>Page_D6B1951C-45AA-42B7-B4E4-B3FA3C2A4676</string>
			<key>title</key>
			<string>Welcome to Coppice</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>DFF837A0-E8E4-421E-8B45-8F227A677930.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T13:22:33Z</date>
			<key>dateModified</key>
			<date>2020-10-05T13:22:33Z</date>
			<key>id</key>
			<string>Page_DFF837A0-E8E4-421E-8B45-8F227A677930</string>
			<key>title</key>
			<string>How do I get Coppice Pro?</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>EAA47FAD-4096-43A4-A18B-75F550A520B0.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T13:12:29Z</date>
			<key>dateModified</key>
			<date>2020-10-05T13:12:29Z</date>
			<key>id</key>
			<string>Page_EAA47FAD-4096-43A4-A18B-75F550A520B0</string>
			<key>title</key>
			<string>Why is a Page appearing twice?</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<false/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>F22967AD-A7F6-42B0-96DE-D8981A35083B.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:00:15Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:00:15Z</date>
			<key>id</key>
			<string>Page_F22967AD-A7F6-42B0-96DE-D8981A35083B</string>
			<key>title</key>
			<string>Canvases</string>
		</dict>
		<dict>
			<key>allowsAutoLinking</key>
			<true/>
			<key>content</key>
			<dict>
				<key>filename</key>
				<string>F6C58FD9-EB52-47FD-9329-5C154D80606C.rtf</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<key>dateCreated</key>
			<date>2020-10-05T12:12:43Z</date>
			<key>dateModified</key>
			<date>2020-10-05T12:12:43Z</date>
			<key>id</key>
			<string>Page_F6C58FD9-EB52-47FD-9329-5C154D80606C</string>
			<key>title</key>
			<string>Image Pages</string>
		</dict>
	</array>
	<key>settings</key>
	<dict>
		<key>identifier</key>
		<string>C25F01D7-BDD4-4F33-870D-1CEDC610304D</string>
		<key>pageGroupExpanded</key>
		<true/>
		<key>rootFolder</key>
		<string>Folder_57122DE1-7179-4496-BD0D-877C2C9FE9A3</string>
	</dict>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
