body {
    font-family: -apple-system;
    font-weight: 300;
    font-size: 11pt;
    padding: 30px;
}

p, li, blockquote {
    line-height: 1.5em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1em;
    margin-bottom: 0px;
}

ul {
    list-style: circle;
}

blockquote {
    background: #f7f7f7;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

figure {
    display: flex;
}

figure.left {
    justify-content: flex-start
}

figure.centre {
    justify-content: space-around
}

hr {
    border: 0px;
    border-top: 1px solid #ddd
}

a {
    color: #4B77F2;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

span.alternate {
    color: #757575;
    font-style: italic;
}

details {
    cursor: pointer;
}

details summary {
    font-weight: 600;
    margin: 30px 0px;
    outline: none;
}

details[open] summary {
    margin-bottom: 20px;
}

details summary::-webkit-details-marker {
    color: transparent;
    background: url('disclosure-closed.png');
    background-repeat: no-repeat;
    background-size: 9px 9px
}

details[open] summary::-webkit-details-marker {
    background: url('disclosure-open.png');
    background-repeat: no-repeat;
    background-size: 9px 9px
}
